@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@700&display=swap');
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body
{
	background:linear-gradient(150deg,rgba(248,239,91,0.6),rgba(255,39,39,0.9),rgba(252,204,77,0.6));
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.logo h1
{
 border: 2px solid black;
 padding: 10px 23px;
 border-radius: 20px;
 border: none;
 box-shadow: 3px 3px 7px rgba(255,255,255,0.6), -3px -3px 7px rgba( 0,0,0,0.6);
 cursor: pointer;
 color: white;
}
.logo
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
		

}
.container
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 350px;

}
label
{
	font-size: 20px;
	font-weight:bold; 
	color: rgba(255, 255, 255,0.9);
}
input
{
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	padding: 7px 7px 2px 2px;
	font-family: cambriya Math;

	font-size: 17px;
	width: 110%;
	font-weight: bold;
	background: none;
	color: black;
}
.next1
{
   background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
   text-align: center;
   width: 100px;
   margin: 20px 0px 0px 70px;
   padding: 7px 12px;
   border-radius: 10px;
   cursor: pointer;
   font-family: cambriya Math;
   letter-spacing: 0px;
}
.two
{
	display: flex;
	justify-content: space-around;
	margin: 20px 0px 0px 0px;
}
.next2
{
 background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
   text-align: center;
   width: 120px;
  
   padding: 7px 12px;
   border-radius: 10px;
   cursor: pointer;
   font-family: cambriya Math;
    letter-spacing: 0px;
}
.next3
{
 background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
   text-align: center;
   width: 100px;
  
   padding: 7px 12px;
   border-radius: 10px;
   cursor: pointer;
   font-family: cambriya Math;
    letter-spacing: 0px;
}
.next4
{
	
	padding: 7px 9px;
	border-radius: 10px;
	border: none;
	background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    font-family: cambriya Math;
     letter-spacing: 0px;
}
.tw
{
	display: flex;
	justify-content: space-around;
	margin: 20px 0px 0px 0px;
}
.next5
{
	margin: 0px 0px 0px 17px;
	padding: 7px 12px;
	border-radius: 10px;
	border: none;
	background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    font-family: cambriya Math;
     letter-spacing: 0px;
}
.from1
{
	border: 2px solid black;
	padding: 50px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		border: none;
		box-shadow: 5px 5px 10px rgba( 0,0,0,0.7), -5px -5px 10px rgba( 255,255,255,0.7);	
		position: relative;
		visibility: visible;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;

}
.fname,.lname
{
	margin: 10px 10px;

}
.from2
{
	border: 2px solid black;
	padding: 50px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		border: none;
		box-shadow: 5px 5px 10px rgba( 0,0,0,0.7), -5px -5px 10px rgba( 255,255,255,0.7);		
		position: absolute;
		top:221px;
		left: 37.5%;
		visibility:hidden;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;
}
.email,.num1
{
	margin: 10px 10px;
}
.from3
{
	border: 2px solid black;
	padding: 50px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		border: none;
		box-shadow: 5px 5px 10px rgba( 0,0,0,0.7), -5px -5px 10px rgba( 255,255,255,0.7);	
		position: absolute;
		top:221px;
		left: 37.5%;
		visibility:hidden ;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;
}
.pla,.code
{
	margin: 10px 10px;
}

     /*MEDIA QUERY*/


@media (max-width:450px)
{

body
{
	background:linear-gradient(90deg,rgba(248,239,91,0.6),rgba(255,39,39,0.8));
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.logo h1
{
 border: 2px solid black;
 padding: 10px 23px;
 border-radius: 20px;
 border: none;
 box-shadow: 3px 3px 7px rgba(255,255,255,0.6), -3px -3px 7px rgba( 0,0,0,0.6);
 cursor: pointer;
 font-size: 25px;
}
.logo
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;

		

}
.container
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 350px;

}
label
{
	font-size: 20px;
	font-weight:bold; 
}
input
{
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	padding: 7px 7px 2px 2px;
	font-family: cambriya Math;
    
	font-size: 17px;
	width: 100%;
	font-weight: bold;
	background: none;
	color: black;
}
.next1
{
   background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
   text-align: center;
   width: 100px;
   margin: 20px 0px 0px 70px;
   padding: 7px 12px;
   border-radius: 10px;
   cursor: pointer;
   font-family: cambriya Math;
   letter-spacing: 0px;
}
.two
{
	display: flex;
	justify-content: space-around;
	margin: 20px 0px 0px 0px;
}
.next2
{
 background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
   text-align: center;
   width: 120px;
  
   padding: 7px 12px;
   border-radius: 10px;
   cursor: pointer;
   font-family: cambriya Math;
    letter-spacing: 0px;
}
.next3
{
 background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
   text-align: center;
   width: 100px;
  
   padding: 7px 12px;
   border-radius: 10px;
   cursor: pointer;
   font-family: cambriya Math;
    letter-spacing: 0px;
}
.next4
{
	
	padding: 7px 9px;
	border-radius: 10px;
	border: none;
	background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    font-family: cambriya Math;
     letter-spacing: 0px;
}
.tw
{
	display: flex;
	justify-content: space-around;
	margin: 20px 0px 0px 0px;
}
.next5
{
	margin: 0px 0px 0px 17px;
	padding: 7px 12px;
	border-radius: 10px;
	border: none;
	background: linear-gradient(60deg,rgba(249,149,205,0.4),rgba(190,254,241,0.5));
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    font-family: cambriya Math;
     letter-spacing: 0px;
}
.from1
{
	border: 2px solid black;
	padding: 50px 20px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		border: none;
		box-shadow: 5px 5px 10px rgba( 0,0,0,0.7), -5px -5px 10px rgba( 255,255,255,0.7);	
		position: relative;
		visibility: visible;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;

}
.fname,.lname
{
	margin: 10px 10px;

}
.from2
{
	border: 2px solid black;
	padding: 50px 20px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		border: none;
		box-shadow: 5px 5px 10px rgba( 0,0,0,0.7), -5px -5px 10px rgba( 255,255,255,0.7);		
		position: absolute;
		top:122px;
		left: 14.1%;
		visibility:hidden;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;
}
.email,.num1
{
	margin: 10px 10px;
}
.from3
{
	border: 2px solid black;
	padding: 50px 20px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		border: none;
		box-shadow: 5px 5px 10px rgba( 0,0,0,0.7), -5px -5px 10px rgba( 255,255,255,0.7);	
		position: absolute;
		top:122px;
		left: 14.1%;
		visibility:hidden ;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;
}
.pla,.code
{
	margin: 10px 10px;
}

}